*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none; /* experimental */
}

#canvas1 {
  display: block;
  position: absolute;
  z-index: 1;
  /* border: red 1px dashed; */
  animation: pulseSubtle 5s ease infinite, rotation 500s infinite;
}

#canvas2 {
  display: block;
  position: absolute;

  top: 0;
  left: 0;
  z-index: 2;
  /* border: green 5px dashed; */
  /* animation: rotation 5s ease infinite; */
}

/* #canvas3 {
  display: block;
  z-index: 3;
} */

.spin {
  /* border: green 5px dashed; */
  animation: rotation 1s 0.5s ease-out;
}

@keyframes pulseSubtle {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 70%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes pulseFull {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes rotation {
  0% {
    rotate: 0deg;
  }

  50% {
  }

  100% {
    rotate: 360deg;
  }
}

/* .box {
  background-color: aqua;
  width: 90vw;
  height: 90vh;
} */
